@import "./main/reset";

.section1{
    background: #E5E5E5;
}

.container{
    background: #E5E5E5;
}

.block1{
    position: absolute;
    width: 1110px;
    height: 629px;
    left: 400px;
    top: 39px;
}

.section1_text{
    position:absolute;
    left: 500px;
}